.h2 {
    font-family: 'Inter', sans-serif;
    letter-spacing: -3px;
}


.tech-logo-item {
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
        transform: scale(1.1);
        opacity: 1;
        filter: grayscale(0);
    }
}